* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 150px;
  background-color: rgb(16, 70, 137);
  text-align: center;
}
.container {
  width: 440px;
  height: 390px;
  background-image: rgb(16, 70, 137);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  box-shadow: -0px 2px 7px 0px black;
  position: absolute;
  top: 25px;

}
.btn {
  width: 190px;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  position: relative;
  top: 75%;
  cursor: pointer;
  right: 115px;
  background-color: rgb(68, 72, 77);
  box-shadow: 0px 2px 4px 0px #141414;
  color: white;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}
.sortear {
  width: 250px;
  height: 0;
  text-align: center;
}
.p {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 33px;
  font-weight: 500;
  text-align: center;
  position: relative;
  left: 100px;
  top: 60px;
}

h1 {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-align: center;
  bottom: 100px;
  left: 0;
}
.p-gerar {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  right: 270px;
  top: 60px;
  font-size: 33px;
  display: none;
}
.btn:hover {
  transition: 0.5s ease-in-out;
  background-color: rgba(0, 60, 139, 0.808);
  box-shadow: 0px 2px 4px 0px rgb(255, 255, 255);
}
.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-bottom: 5px solid red;
  border-right: 5px solid green;
  border-left: 5px solid yellow;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: girar 1s infinite linear;
  position: relative;
  right: 110px;
  top: 180px;
  display: none;
}
@keyframes girar {
  0% {
    transform: rotate(0deg);
    transition: 1s;
  }
  100% {
    transform: rotate(360deg);
  }
}
